body {
  font-family: "Courier New", Courier, monospace;
  max-width: 800px;
  background-color: #f6f6ef;
  display: flex;
  flex-direction: column;
}

nav {
  padding: 7px;
}

nav a {
  color: #333;
  text-decoration: none;
  padding: 4px 8px;
  margin: 0 5px;
}

section {
  padding: 20px;
}

small {
  color: #847c76;
  letter-spacing: 1px;
  font-weight: bolder;
  text-transform: uppercase;
  line-height: 2em;
  font-size: 12px;
}

canvas {
  height: 300px;
  width: 500px;
  border: 1px solid grey;
  border-radius: 9px;
  margin: auto;
}

h2 {
  color: #e56762;
}

a {
  color:#2b90d7;
}

.result {
  font-size: 64px;
}

.pong,
.ocr {
  display: inline-block;
}
