:root {
  --primary-color: #2b90d7;
  --secondary-color: #e56762;
  --text-color: #333;
  --background-color: #f6f6ef;
  --accent-color: #4e4137;
  --system-font: system-ui, "Courier New", Courier, monospace;
}

body {
  font-family: var(--system-font);
  max-width: 800px;
  margin: 0 auto;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  padding: 20px;
  line-height: 1.4rem;
}

nav {
  padding: 7px;
}

nav a {
  color: var(--text-color);
  text-decoration: none;
  padding: 4px 8px;
  margin: 0 5px;
}

nav a:active {
  font-weight: bold;
}

section {
  padding: 20px;
}

small {
  color: var(--accent-color);
  letter-spacing: 1px;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 12px;
}

canvas {
  max-width: 100%;
  height: auto;
  border: 1px solid grey;
  border-radius: 9px;
  margin: auto;
}

h2 {
  color: var(--secondary-color);
  font-weight: 500;
}

section a {
  color: var(--primary-color);
  background-image: linear-gradient(
    90deg,
    var(--secondary-color),
    var(--primary-color)
  );
  background-size: 0% 2px;
  background-repeat: no-repeat;
  background-position: left bottom;
  text-decoration: none;
  font-weight: bold;
  transition: background-size 250ms ease;
}

section a:hover {
  background-size: 100% 2px;
}

button {
  font-family: var(--system-font);
  background: var(--primary-color);
  border: none;
  width: 100px;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  transition: filter 0.3s ease;
}

button:hover,
button:focus {
  filter: opacity(0.8);
}

.result {
  font-size: 4vw;
}

.pong,
.ocr {
  display: inline-block;
}
