@font-face {
  font-family: "HackNerdFont";
  src: url("/assets/HackNerdFont-Regular.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "HackNerdFont";
  margin: 0;
  padding: 0;
  background-color: #f6f6ef;
  display: flex;
  flex-direction: column;
}

header {
  padding: 10px;
  font-weight: bolder;
}

nav {
  padding: 7px;
}

nav a {
  color: #333;
  text-decoration: none;
  padding: 4px 8px;
  margin: 0 5px;
}

section {
  padding: 20px;
}

canvas {
  height: 300px;
  width: 500px;
  border: 1px solid grey;
  border-radius: 9px;
  margin: auto;
}

.result {
  font-size: 64px;
}

.pong,
.ocr {
  display: inline-block;
}
