<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Dynamic Matrix</title>
    {% include "head.html" %}
    <style>
      body {
        background-color: black;
      }
      .matrix {
        display: grid;
        grid-template-rows;: repeat({{size}}, 1fr);
        grid-template-columns: repeat({{size}}, 1fr);
        gap: 1px;
      }
      span {
        display: inline-block;
        background-color: RGB(95, 179, 255);
        aspect-ratio: 1;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    {% include "matrix.html" %}
    <script defer src="/assets/htmx.min.js"></script>
  </body>
</html>
