<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/assets/HackNerdFont-Regular.woff2" />
    <link rel="stylesheet" href="/assets/styles.css" />
    <script src="/assets/htmx.min.js"></script>

    <title>Your Page Title</title>
  </head>

  <body>
    <script type="module">
      import init_explode, { explode_letter } from "/assets/explode.js";
      import init_pong, { pong_game } from "/assets/pong.js";

      async function run() {
        await init_explode();
        await init_pong();
      }

      run();
    </script>
    <nav>
      <a href="#">Home</a>
      <a href="#">New</a>
      <a href="#">Top</a>
      <a href="#">About</a>
    </nav>

    <header>
      <h1>Your Website Name</h1>
    </header>

    <section>
      <h2></h2>
    </section>
  </body>
</html>
