<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/assets/HackNerdFont-Regular.woff2" />
    <link rel="stylesheet" href="/assets/styles.css" />
    <script src="/assets/htmx.min.js"></script>

    <title>Your Page Title</title>
  </head>

  <body>
    <nav>
      <a href="#">Home</a>
      <a href="#">New</a>
      <a href="#">Top</a>
      <a href="#">About</a>
    </nav>

    <header>
      <h1>Your Website Name</h1>
    </header>

    <section>
      <h2>Welcome to Your Website!</h2>
      <p>
        This is the main content of your page. You can add paragraphs, images,
        and other content here.
      </p>
      <p>Feel free to customize this structure based on your needs.</p>
    </section>
  </body>
</html>
